PORT = 8000

# // ending slash nahi chaiye
MONGODB_URL = mongodb+srv://Sudhanshu:@cluster0.za7b2kl.mongodb.net


CORS_ORIGIN=*

ACCESS_TOKEN_SECRET=chai-aurcode
ACCESS_TOKEN_EXPIRY=1d 

REFRESH_TOKEN_SECRET=chai-aur-tea 

REFRESH_TOKEN_EXPIRY=10d